<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nickname, style: "display: block" %>
    <%= form.text_field :nickname %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :surname, style: "display: block" %>
    <%= form.text_field :surname %>
  </div>

  <div>
    <%= form.label :avatar, style: "display: block" %>
    <%= form.text_field :avatar %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :about_me, style: "display: block" %>
    <%= form.text_field :about_me %>
  </div>

  <div>
    <%= form.label :contact_info, style: "display: block" %>
    <%= form.text_field :contact_info %>
  </div>

  <div>
    <%= form.label :company, style: "display: block" %>
    <%= form.text_field :company %>
  </div>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.text_field :position %>
  </div>

  <div>
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.text_field :role %>
  </div>

  <div>
    <%= form.label :activity_status, style: "display: block" %>
    <%= form.check_box :activity_status %>
  </div>

  <div>
    <%= form.label :is_rejected, style: "display: block" %>
    <%= form.check_box :is_rejected %>
  </div>

  <div>
    <%= form.label :reject_date, style: "display: block" %>
    <%= form.date_field :reject_date %>
  </div>

  <div>
    <%= form.label :reject_reason, style: "display: block" %>
    <%= form.text_field :reject_reason %>
  </div>

  <div>
    <%= form.label :is_banned, style: "display: block" %>
    <%= form.check_box :is_banned %>
  </div>

  <div>
    <%= form.label :ban_date, style: "display: block" %>
    <%= form.date_field :ban_date %>
  </div>

  <div>
    <%= form.label :ban_reason, style: "display: block" %>
    <%= form.text_field :ban_reason %>
  </div>

  <div>
    <%= form.label :telegram_id, style: "display: block" %>
    <%= form.text_field :telegram_id %>
  </div>

  <div>
    <%= form.label :respect, style: "display: block" %>
    <%= form.text_field :respect %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
