<div id="<%= dom_id user %>">

  <%= image_tag(user.profile_pic, size: "150x150") if user.profile_pic.attached? %>

  <% user_attributes = {
    "Nickname": user.nickname,
    "Email": user.email,
    "Name": user.name,
    "Surname": user.surname,
    "About me": user.about_me,
    "Company": user.company,
    "Position": user.position,
    "Role": user.role,
    "Respect": user.respect
  }
     user_attributes.each do |label, value|
       if value.present?
    %>
      <p>
        <strong><%= label %>:</strong>
        <%= value %>
      </p>
    <%
      end
      end
    %>

  <% if user.contact_info.present? %>
    <p>
      <strong>Telegram ID:</strong>
      <%= user.contact_info.telegram_id %>
    </p>
    <p>
      <strong>Phone:</strong>
      <%= user.contact_info.phone %>
    </p>
  <% end %>

</div>
