<div id="<%= dom_id user %>">
  <p>
    <strong>Nickname:</strong>
    <%= user.nickname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= user.avatar %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= user.location %>
  </p>

  <p>
    <strong>About me:</strong>
    <%= user.about_me %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= user.contact_info %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= user.company %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= user.position %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= user.slug %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Activity status:</strong>
    <%= user.activity_status %>
  </p>

  <p>
    <strong>Is rejected:</strong>
    <%= user.is_rejected %>
  </p>

  <p>
    <strong>Reject date:</strong>
    <%= user.reject_date %>
  </p>

  <p>
    <strong>Reject reason:</strong>
    <%= user.reject_reason %>
  </p>

  <p>
    <strong>Is banned:</strong>
    <%= user.is_banned %>
  </p>

  <p>
    <strong>Ban date:</strong>
    <%= user.ban_date %>
  </p>

  <p>
    <strong>Ban reason:</strong>
    <%= user.ban_reason %>
  </p>

  <p>
    <strong>Telegram:</strong>
    <%= user.telegram_id %>
  </p>

  <p>
    <strong>Respect:</strong>
    <%= user.respect %>
  </p>

</div>
