<div id="<%= dom_id post %>">
  <p>
    <strong>Slug:</strong>
    <%= post.slug %>
  </p>

  <p>
    <strong>Last activity:</strong>
    <%= post.last_activity %>
  </p>

  <p>
    <strong>Post type:</strong>
    <%= post.post_type %>
  </p>

  <p>
    <strong>Comment count:</strong>
    <%= post.comment_count %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= post.rating %>
  </p>

  <p>
    <strong>Is commentable:</strong>
    <%= post.is_commentable %>
  </p>

  <p>
    <strong>Is visible:</strong>
    <%= post.is_visible %>
  </p>

  <p>
    <strong>Is draft:</strong>
    <%= post.is_draft %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

</div>
